.navbar-brand{
    font-size: 36px;
    margin: 0px;
    margin-left: 0px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 5px;
}

#logo{
    height: 50px;
    width: 50px;
}