<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Ray</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="icon" href="../img/logo.png">
    <script src="../node_modules/bodymovin/build/player/bodymovin.min.js"></script>
    <link rel="stylesheet" href="../node_modules//bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>

    <!-- NAVBAR  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-0 order-md-0 dual-collapse2">
              <img  id ='logo' src="../img/logo.png" alt="Logo">
                <a class="navbar-brand mx-auto" href="main.html">RED RAY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-200 order-3 dual-collapse2">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
              </ul>
            </div>
          </nav>

    <div class="row chat-bot-page">
        <div class="col-6"  id='chat-anim-div'>
                <h3>The Doctor is in..</h3>
                <p>Our virtual medicinal virtuoso to tackle your ailments</p>
        </div>
        <div class="col-6" id="chat-area">
            <div class="floating-div"></div>
            <iframe
                allow="microphone;"
                width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/85eba6b9-ad88-4274-afb7-ebffaf56813a">
            </iframe>
        </div>
        
    </div>

    <script src="../scripts/chat.js"></script>    
</body>
</html>