<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="map-area">
            <div  class="container">
                <div class="row">
                        <h1>Locate Us</h1>
                </div>
                <div id="map-content" class="row">
                    
                    <div id="map" class="col">
                    </div>
                </div>
            </div>
        </div>
    

    <script src="../scripts/index.js"></script>    
</body>
</html>