<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Ray</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../node_modules//bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    
</head>
<body>
    <div class="container">
        <div class="row" id="pwd-container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <section class="login-form py-5">
                    <form method="post" action="#" role="login">
                        <h2>RedRay</h2>
                        <input type="email" name="email" placeholder="Email" id='email' required class="form-control input-lg"/>
                        <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
                        <div class="pwstrength_viewport_progress"></div>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" id='sign-in-btn'><a href="main.html">Sign in</a></button>
                        <div>
                            <a href="#">Create account</a>
                        </div>
                    </form>
                    
                    <div class="form-links">
                        <p>&copy;2018 RedRay</p>
                    </div>
                </section>  
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script src="../scripts/index.js"></script>
</body>
</html>