<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Ray</title>
    <link rel="stylesheet" href="../node_modules//bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>

    <!-- NAVBAR  -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-0 order-md-0 dual-collapse2">
            <a class="navbar-brand mx-auto" href="main.html">RED RAY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-200 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
            </ul>
        </div>
    </nav>



    <!-- LINKS -->
    <div id="main">
            <div id="links">
                    <div class="container">
                        <div class="row" id='first-row'>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="brain-tumor.html">
                                    <div class="hovereffect">
                                        <img class="img-responsive" src="../img/brain-tumor.jpg" alt="Brain Tumor">
                                        <div class="overlay">
                                            <h2>Brain Tumor</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="blood-bank.html">
                                    <div class="hovereffect">
                                        <img class="img-responsive" src="../img/blood-bank.jpg" alt="Blood Bank">
                                        <div class="overlay">
                                            <h2>Blood Bank</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row" id='second-row'>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="blood-donate.html">
                                    <div class="hovereffect">
                                        <img class="img-responsive" src="../img/blood-donate.jpg" alt="Blood Donate">
                                        <div class="overlay">
                                            <h2>Donate Blood</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="chat.html">
                                    <div class="hovereffect">
                                        <img class="img-responsive" src="../img/chat-bot.jpeg" alt="Chatbot">
                                        <div class="overlay">
                                            <h2>ChatBot</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    
    <!-- <script src="../scripts/index.js"></script>     -->
</body>
</html>